{{define "settings/panel/telegram"}}
<!-- notification channel (#195): without one the bot sends no notifications -->
<a-alert data-testid="tg-notify-unset" type="warning" show-icon v-if="!allSetting.tgNotifyChatId"
    message='{{ i18n "pages.settings.tgNotifyChannelUnset" }}' :style="{ marginBottom: '10px' }"></a-alert>
<a-collapse default-active-key="1">
    <a-collapse-panel key="1" header='{{ i18n "pages.xray.generalConfigs"}}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.telegramBotEnable" }}</template>
            <template #description>{{ i18n "pages.settings.telegramBotEnableDesc" }}</template>
            <template #control>
                <a-switch v-model="allSetting.tgBotEnable"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.telegramToken"}}</template>
            <template #description>{{ i18n "pages.settings.telegramTokenDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.tgBotToken"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.telegramChatId"}}</template>
            <template #description>{{ i18n "pages.settings.telegramChatIdDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.tgBotChatId"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.tgNotifyChannel" }}</template>
            <template #description>{{ i18n "pages.settings.tgNotifyChannelDesc" }}</template>
            <template #control>
                <tg-notify-channel-field v-model="allSetting.tgNotifyChatId"
                    test-text='{{ i18n "pages.settings.tgNotifyChannelTest" }}'></tg-notify-channel-field>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.telegramBotLanguage"}}</template>
            <template #control>
                <a-select ref="selectBotLang" v-model="allSetting.tgLang"
                    :dropdown-class-name="themeSwitcher.currentTheme" :style="{ width: '100%' }">
                    <a-select-option :value="l.value" :label="l.value" v-for="l in LanguageManager.supportedLanguages">
                        <span role="img" :aria-label="l.name" v-text="l.icon"></span> &nbsp;&nbsp; <span
                            v-text="l.name"></span>
                    </a-select-option>
                </a-select>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="2" header='{{ i18n "pages.settings.notifications" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.telegramNotifyTime"}}</template>
            <template #description>{{ i18n "pages.settings.telegramNotifyTimeDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.tgRunTime"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.tgNotifyBackup" }}</template>
            <template #description>{{ i18n "pages.settings.tgNotifyBackupDesc" }}</template>
            <template #control>
                <a-switch v-model="allSetting.tgBotBackup"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.tgNotifyLogin" }}</template>
            <template #description>{{ i18n "pages.settings.tgNotifyLoginDesc" }}</template>
            <template #control>
                <a-switch v-model="allSetting.tgBotLoginNotify"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.tgNotifyCpu" }}</template>
            <template #description>{{ i18n "pages.settings.tgNotifyCpuDesc" }}</template>
            <template #control>
                <a-input-number :min="0" :min="100" v-model="allSetting.tgCpu" :style="{ width: '100%' }"></a-switch>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <!-- request defaults (#221): what «✅ Approve» in the bot gives a request's user -->
    <a-collapse-panel key="4" header='{{ i18n "pages.settings.subRequestTitle" }}'>
        <!-- the bot's path (#220): where the captcha Mini App is served, read-only -->
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.botPath" }}</template>
            <template #description>{{ i18n "pages.settings.botPathDesc" }}<br>
                <span data-testid="bot-captcha-url" v-if="botPath.captchaUrl">[[ botPath.captchaUrl ]]</span>
                <span data-testid="bot-captcha-url-none" v-else>{{ i18n "pages.settings.botPathNoHttps" }}</span>
            </template>
            <template #control>
                <a-input data-testid="bot-path" read-only :value="botPath.path" :style="{ marginBottom: '6px' }"></a-input>
                <a-button data-testid="bot-path-renew" icon="sync" @click="renewBotPath()">{{ i18n "pages.settings.botPathRenew" }}</a-button>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subRequestInbounds" }}</template>
            <template #description>{{ i18n "pages.settings.subRequestInboundsDesc" }}</template>
            <template #control>
                <a-select data-testid="sub-request-inbounds" mode="multiple" v-model="subRequestInboundIds"
                    placeholder='{{ i18n "pages.settings.subRequestAll" }}'
                    :dropdown-class-name="themeSwitcher.currentTheme" :style="{ width: '100%' }">
                    <a-select-option v-for="ib in userInbounds" :key="ib.id" :value="ib.id">
                        [[ ib.remark ]] ([[ ib.protocol ]])[[ ib.enable ? '' : ' ⏸' ]]
                    </a-select-option>
                </a-select>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subRequestTraffic" }}</template>
            <template #description>{{ i18n "pages.settings.subRequestTrafficDesc" }}</template>
            <template #control>
                <a-input-number data-testid="sub-request-traffic" :min="0" :max="999999"
                    v-model="allSetting.subRequestTrafficGB" :style="{ width: '100%' }"></a-input-number>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subRequestExpiry" }}</template>
            <template #description>{{ i18n "pages.settings.subRequestExpiryDesc" }}</template>
            <template #control>
                <a-input-number data-testid="sub-request-expiry" :min="0" :max="999999"
                    v-model="allSetting.subRequestExpiryDays" :style="{ width: '100%' }"></a-input-number>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="3" header='{{ i18n "pages.settings.proxyAndServer" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.telegramProxy"}}</template>
            <template #description>{{ i18n "pages.settings.telegramProxyDesc"}}</template>
            <template #control>
                <a-input type="text" placeholder="socks5://user:pass@host:port"
                    v-model="allSetting.tgBotProxy"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.telegramAPIServer"}}</template>
            <template #description>{{ i18n "pages.settings.telegramAPIServerDesc"}}</template>
            <template #control>
                <a-input type="text" placeholder="https://api.example.com"
                    v-model="allSetting.tgBotAPIServer"></a-input>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
</a-collapse>
{{end}}